# HTTrack artifacts
hts-cache/
hts-log.txt
hts-in_progress.lock
cookies.txt
backblue.gif
fade.gif

# Third-party mirror domains (not part of the site)
adventurewagon.com/
backwoodsadventuremods.com/
flarespace.com/
flatlinevanco.com/
goalzero.com/
gocodeoverland.com/
losthiway.square.site/
mytourig.com/
orionvangear.com/
owlvans.com/
rigwell.com/
rre-global.com/
vanwindowsdirect.com/
www.aluminess.com/
www.aquahot.com/
www.battlebornbatteries.com/
www.crlaurence.com/
www.dometic.com/
www.fiammausa.com/
www.indelwebastomarine.com/
www.jmgsystemsllc.com/
www.perfectfit.com/
www.solar-electric.com/
www.terrawagen.com/
www.thunderboltlocks.com/
www.vanessential.com/
www.vanessentialwholesale.com/
www.victronenergy.com/
www.webasto-comfort.com/
www.webasto.com/
